[Desktop Entry]
Type=Application
Icon=harbour-storeman-installer
Exec=harbour-storeman-installer
Name=Install Storeman
Name[de]=Storeman installieren
Name[es]=Instalar Storeman
Name[et]=Paigalda Storeman
Name[fi]=Asenna Storeman
Name[fr]=Installer Storeman
Name[pl]=Zainstaluje Storeman
Name[ru]=Установить Storeman
Name[sk]=Inštalovať Storeman
Name[sl]=Namesti Storeman
Name[sv]=Installera Storeman
Name[tt]=Storeman'ны урнаштыру

[X-Sailjail]
Sandboxing=Disabled
