[Unit]
Description=timer unit to trigger the corresponding oneshot unit for installing Storeman after one to two seconds

[Timer]
OnActiveSec=1
AccuracySec=1
