[Unit]
Description=Service unit for installing Storeman

[Service]
Type=oneshot
ExecStartPre=/usr/bin/pkcon repo-set-data harbour-storeman-obs refresh-now true
ExecStart=/usr/bin/pkcon -y install harbour-storeman
