[Unit]
Description=timer unit to trigger the corresponding oneshot unit for installing harbour-storeman

[Timer]
OnActiveSec=1
AccuracySec=1
RemainAfterElapse=false
